<h1 class="py-5 fw-bold">ギフト発行対象一覧</h1>

<div class="row mb-5">
  <div class="col-auto">
    <%= form_with url: issue_gift_issue_permissions_path do |f| %>
      <button type="submit" class="btn btn-primary">
        ギフト発行 & SMS 送信
      </button>
    <% end %>
  </div>
  <div class="col-auto">
    <%= link_to new_gift_issue_permission_path do %>
      <button type="button" class="btn btn-outline-secondary">
        インポート
      </button>
    <% end %>
  </div>
</div>

<nav class="nav nav-tabs">
  <%= link_to "全件",   gift_issue_permissions_path,                    class: "nav-link #{@all_tab_active}"      %>
  <%= link_to "未発行", gift_issue_permissions_path(scope: "unissued"), class: "nav-link #{@unissued_tab_active}" %>
  <%= link_to "発行済", gift_issue_permissions_path(scope: "issued"),   class: "nav-link #{@issued_tab_active}"   %>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= GiftIssuePermission.human_attribute_name(:survey_response_uid) %></th>
      <th scope="col"><%= GiftIssuePermission.human_attribute_name(:telephone) %></th>
      <th scope="col"><%= GiftIssuePermission.human_attribute_name(:point) %></th>
      <th scope="col"><%= GiftIssuePermission.human_attribute_name(:product_category_name) %></th>
      <th scope="col"><%= GiftIssuePermission.human_attribute_name(:store_name) %></th>
      <th scope="col"><%= Gift.human_attribute_name(:created_at) %></th>
      <th scope="col"><%= SmsSending.human_attribute_name(:sent_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_issue_permissions.each do |gift_issue_permission| %>
      <tr>
        <th scope="row"><%= gift_issue_permission.id %></th>
        <td><%= gift_issue_permission.survey_response_uid %></td>
        <td><%= gift_issue_permission.telephone %></td>
        <td><%= gift_issue_permission.point %></td>
        <td><%= gift_issue_permission.product_category_name %></td>
        <td><%= gift_issue_permission.store_name %></td>
        <td><%= gift_issue_permission.gift_created_at&.strftime("%F %T") %></td>
        <td><%= gift_issue_permission.sms_sending_sent_at&.strftime("%F %T") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
