<!DOCTYPE html>
<html>
  <head>
    <title>Fukusuke</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-white">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold logo" href="#">福助</a>
      </div>
    </nav>
    <main class="container">
      <% flash.each do |message_type, message| %>
        <div class='alert <%= "alert-#{message_type}" %>' role="alert">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
